# Folder view configuration files
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.Trash
.AppleDouble
~$*.doc*
~$*.xls*
~$*.ppt*

# Application specific files
node_modules
.npm*
bower_components

vendor
composer.lock

*.sublime-workspace

Homestead.yaml
Homestead.json

dist
/public
/www/assets

/assets
/contents

#Custom
.idea
*.log
*.map
.tmp
*.swp

.local
.env
